{% if emit_header %}
## {{ title }}

{% endif %}

{% for opt, opt_value in options.items() %}
  {% if not opt.startswith('_') %}

  {% set opt_desc_key = '_description_' + opt  %}
  {% if opt_desc_key in options.keys() %}
      {% set opt_description = options[opt_desc_key] %}
  {% endif %}

  {% include 'single_option.j2' %}

  {% endif %}
{% endfor %}