
- `{{ opt }}`

    <div className="options-table">

    |   |   |
    |---|---|
{% if opt_description %}
    | Description   | {{ opt_description }} |
{% endif %}
    | Required?     | {% if opt_value|j2f_is_required %}Yes{% else %}No{% endif %} |
{% if opt_value|j2f_is_simple_variable %}
    | Default value | `{{ opt_value|replace("required-","")|replace("required_","") }}` |

    </div>

{% else %}
    | Default value | See below for default <i class="fa-solid fa-arrow-down"></i> |

    </div>

    ```
    {{ opt_value|j2f_to_code_snippet|indent }}
    ```

{% endif %}
