{% if emit_header %}
## {{ title }}

{% endif %}

### {{ name }}

:::feature Feature Information

<div className="features-table">

|   |   |
|---|---|
| Description    | {{ description }}                            |
| Default State  | {{ default_state|j2f_bool_to_feature_flag }} |
| Disruptive?    | {{ disruptive|j2f_disruptive_to_span }}      |

</div>

:::

{% if options is not none and options|length > 0 %}
**Feature Options**
{% endif %}

{% for opt, opt_value in options.items() %}
  {% if not opt.startswith('_') %}

  {% set opt_desc_key = '_description_' + opt  %}
  {% if opt_desc_key in options.keys() %}
      {% set opt_description = options[opt_desc_key] %}
  {% endif %}

  {% include 'single_option.j2' %}

  {% endif %}
{% endfor %}





